<div class="card">
    <img 
    src="https://images.pexels.com/photos/17592743/pexels-photo-17592743/free-photo-of-food-restaurant-drinks-dinner.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
    alt="post-image"
    class="card-img-top">

<!--designing the card body-->
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Features</small>
        <small class="bg-light text-info text-center ml-3">Views</small>

        <!--heading-->
        <h5 class="mt-1">HOW TO START A BLOG WITH FEW CLICKS </h5>
        <p class="para">
            Are you looking at creating a blog, website or an online store? 
            Bluehost has something for everyone. Get started today.</p>

        <small class="bg-light text-warning text-center ml-3">UPDATED - OCT 24, 2023</small>
    </div>

</div>
