.card {
    max-width: 400px;
    max-height: 300px;
    padding-bottom: 510px;
}

h5 {
    color: brown;
    margin-top: 15px;
    font-family:'Times New Roman';
    font-weight: bold;
}

h5:hover {
    color: rgb(105, 62, 189);
}

.para {
    color: black;
    font-size: 15px;
    font-weight: 400;
}