<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
        <div class="sub p-5 mt-4 text-white">
            <p>"Bie" Thassapak Hsu is a Thai-Taiwanese singer and actor born in Taipei. His mother is Thai and his father is of Taiwanese descent. At fourteen, he moved to Thailand and debuted as a singer at the age of eighteen. After attending Hatyai Wittayalai School, he went on to study Strategic Communications in the Faculty of Communication Arts at the University of the Thai Chamber of Commerce.</p>
            
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-sub">Back Home Page</button>
            </div>
            
        </div>

    </div>

</section>