<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave Comments</h4>
        <p>Use the form below to add your thoughts and opinions</p>

        <form>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control shadow-effect" placeholder="Enter your Name">
            </div>

            <div class="form-group">
                <label for="">Comment</label>
                <textarea cols="30" rows="10" class="form-control shadow-effect" placeholder="Enter your Name"></textarea>
                    
            </div>

            <button class="btn btn-info">Submit</button>

        </form>

    </div>
    </div>
