<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3"> Comments </h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0"> Himasha Nethmini</h6>
            <small class="text-danger"> UPDATED 02 SEP 2022</small>

            <div class="div mt-3 mb-3 letters">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley 
                of type and scrambled it to make a type ...
            </div>

            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-5">View Reply</a>
            <hr class="new">

            <!--dupliacte replies-->
            <h6 class="mb-0"> Ariana Grande</h6>
            <small class="text-danger"> UPDATED 12 AUG 2022</small>
            <div class="div mt-3 mb-3 letters">
                Lorem Ipsum has been the industry's standard 
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-5">View Reply</a>
            <hr class="new">

            <h6 class="mb-0"> John Doyle</h6>
            <small class="text-danger"> UPDATED 22 JAN 2022</small>
            <div class="div mt-3 mb-3 letters">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley 
            </div>

            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ml-5">View Reply</a>
            <hr class="new"/>

        </div>
    </div>
</div>