<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img 
                src="https://i.pinimg.com/564x/77/f2/6d/77f26da1ddef304d498cad3ae766ebd5.jpg" 
                alt="Thassappak hsu photo" 
                class="card-img-top img-fluid">

                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design </small>
                    <small class="bg-light text-success text-center ml-3">Featured </small>
                    <small class="bg-light text-info text-center ml-3">Views </small>

                    <h1 class="mt-3 mb-3">CHECK THIS BLOG ABOUT THASSAPPAK HSU</h1>
                        
                    <P>
                        Native name: บี้ ธรรศภาคย์  <br/>
                        Also Known as: Xu Zhi Xian, Bie KPN, Bie Xu, บี้ เคพีเอ็น, สวีจื้อเสียง, 徐志贤, 徐志賢 <br/>
                        Nationality: Thai <br/>
                        Gender: Male <br/>
                        Born: October 30, 1991 <br/>
                        Age: 31 <br/> <br/>
                        "Bie" Thassapak Hsu is a Thai-Taiwanese singer and actor born in Taipei. His mother is Thai and his father is of Taiwanese descent. At fourteen, he moved to Thailand and debuted as a singer at the age of eighteen. After attending Hatyai Wittayalai School, he went on to study Strategic Communications in the Faculty of Communication Arts at the University of the Thai Chamber of Commerce.

                        Bie made his acting debut in the 2014 series, "Club Friday Season 5" and has since worked on a number of Thai and Chinese projects.

                        In 2016, Bie married Thai actor and model "Gubgib" Sumonthip Hsu. Their daughter "Paopao" Paulina Hsu was already planned before they got married and was born later that year. In May 2020, Bie and his wife had their second child "Paopei" Lalina Hsu.
                    </P>
                </div>
            </div>
            
            <!--added comment form -->
            <app-comment-form></app-comment-form>

            </div>
            <div class="col-md-3">
                <app-post-card></app-post-card>
                <app-post-card></app-post-card>
                <app-post-card></app-post-card>
        </div>

    </div>
</div>
